.buttonGrid{
    height: 451px;
    width: 1440px;
    background: var(--backgroundDefault);
}

.button__lable{
    float: left;
    padding-left: 163px;
    padding-top: 150px;
}

.button__list{
    display: inline-block; 
    margin-left: 240px;
    margin-top: 139px;
}

.button__listItem {
    margin-bottom: 16px;
    list-style-type: none;
}
.button__listItem > .button {
    margin-right: 16px;
}
.button__listItem_default::before {
    content:"DEFAULT";
    margin-right: 40px;
}
.button__listItem_hover::before {
    content:"hover";
    margin-right: 52px;
}
.button__listItem_disabled::before {
    content:"Disabled";
    margin-right: 33px;
}