/* Стилизация аккордеона */
.accordion__lable{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 46px;
    color: var(--black);
}

.accordion{
    background: var(--backgroundDefault);
    border: var(--accordionBorder);
    box-sizing: border-box;
    border-radius: 8px;
    padding-left: 32px;
}

.accordion__summary{
    cursor: pointer;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--accordionSummaryColor);
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 24px;
}
.accordion__summary:focus{
    outline:none;
}
.accordion__summary::-webkit-details-marker {  
    display: none;
}
.accordion:not([open]) .accordion__summary{
    padding-bottom: 24px;
}
.accordion[open] .accordion__summary .accordion__vector path{
    d: path('M17 9L9 1L1 9');
}

.accordion__vector{
    width: 18px;
    height: 10px;
    padding-right: 32px;
    fill:none;
}

.accordion__text{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--accordionContentColor);
}